version: "3"
services:
  # app_server:
  #   build: ./backend
  #   command: bundle exec rackup -o 0.0.0.0 -p 9292
  #   depends_on:
  #     - postgres
  #   volumes:
  #     - ./backend:/app
  #   ports:
  #     - "127.0.0.1:9292:9292"
  # web_server:
  #   image: node:argon
  #   build: ./front
  #   ports:
  #   - "80:80"
  #   volumes:
  #     - ./front:/app
   postgres:
    image: eeacms/postgres
    ports:
    - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DBNAME: challenge_test challenge_dev challenge_prod
      POSTGRES_DBUSER: challenge
      POSTGRES_DBPASS: challenge
    volumes:
    - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
